span{

    display: inline-block;
    width: 20px;
    
}

.wrapper{

    display: inline-block;
}


.tree{
    margin: 300px auto;
    width:max-content;
    
    
    
}

.star{
    color:red
}

.line{
    color:green
}
